section {
  width: 57%;
  height: 25em;
  margin: 0 auto;
  position: relative;
  max-width: 45em;
}

h2{
  margin-left: 5%;
}

 ul {
  display: table-row;
  text-align: center;
}

 li {
  width: 88%;
  /* background: #333; */
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.title{
  width: 100%;
  text-align: center;
}

 li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.onepic{
  position:relative;
  width:45%;
  overflow:hidden;
  border-radius:50%;
  margin-left: 27%;
}

.onepic img{
    width:100%;
    height:auto;
}

#onename{
  width: 100%;
  height: auto;
}

#onename h2{
  margin-left: unset;
}

#name{
  width: 50%;
  height: auto;
  margin-top: -10px;
}

.gem {
  position: absolute;
}

.top {
  margin-left: 2em !important;
  z-index: 3000;
  /* margin-left: -40px; */
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.yeah {
  opacity: .3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.heave {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.light {
  opacity: .3;
  margin-left:  21em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.circular{
    position:relative;
    width:45%;
    overflow:hidden;
    border-radius:50%;
    margin-left: 3%;
}

.circular img{
    width:100%;
    height:auto;
}


span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}


/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 45%;
 width: auto;
 margin-left: -25%;
 margin-right:-24%;
 margin-top: 100px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 z-index: 3000;
}


.prev img, .next img{
  width: 20px;
  height: 30px;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

#latContentMsg_4{ margin-bottom: 40px;
                display: block;
                font-size: 24px;
                font-weight: 800;
                letter-spacing: 1.5px;
                color: #312028;
                line-height: 150%;
                text-align: center;
                display:block;}

#latContentMsg_4::after{ content:"";
                      display: block;
                      height:1px;
                      margin:10px auto 0px auto;
                      width:30px;
                      background: #312028;
                      line-height: 150%;
                      text-align: center;
                               }
